*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
div{
    display: block;
}
body{
    background-color: rgb(255, 255, 255);
}
.header{
    background: linear-gradient(to right, rgba(0,0,0,0.1)0%,rgba(0,0,0,0.1)50%,rgba(0, 0, 0, 0.1)50%,rgba(0, 0, 0, 0.1)100%), url('../Images/AboutUs.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    margin: auto;
  }

   .policies .container::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 25px;
    opacity: 0;
    content: attr(data-text);
  }
  .policies .container:hover::after{
    opacity: 1;
  }
  
  .container2 .box-1::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 25px;
    opacity: 0;
    content: attr(data-text);
  }
  .container2 .box-1:hover::after{
    opacity: 1;
  }
  
  

  .policies{
    
    width: 100%;
    margin-top: 5rem;
  }

  .policies .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 150px;
    justify-content: center;
    position: relative;
    margin : 1rem;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
    margin : 1rem;
    border-radius: 5px;
  }

  .container2 .box-1{
    width: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
     border-radius: 5px;
     padding: 2rem;
     margin: 1rem;
    background-color: rgb(248, 248, 248);
  }

  .box{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
  }

  .policies .container .tittle h2{
    text-align: center;
    font-family: 'Jost', sans-serif;
   font-size: 30px;
   line-height: 2;
   color: rgb(48, 48, 48);
  }
  .row{
    display: flex;
    height: 65%;
    align-items: center;
}
.col{
    flex-basis: 90%;
    color: #fff;
}

.box-1 a{
  text-decoration: none; 
  background-color: rgb(65, 137, 231);
  color: rgb(255, 255, 255);
  padding: 30px 50px;
  text-align: center;
  margin-left: 40%;
  margin-right: 34%;
  font-weight: 600;
  font-size:2rem;
  margin-bottom: 5rem;
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
  display: inline-block;
}


.col p{

     text-align: center;
     font-family: 'Jost', sans-serif;
    font-size: 26px;
    line-height: 2;
    font-weight: lighter;
}

.col h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight:bold;
    background-color: #66666694;
    padding: 0.5rem;
    margin-left: 40%;
    margin-right: 40%;
}

.infos{
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    padding: 2%;
    margin-left: 5%;
    margin-top: 2rem;
}

.map{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    justify-content: center;
 
    margin-top: -5px;
  }

  .map-box2{
    width: 500px;
  }

  .map-box1{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
  }

  .box{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
    padding: 5%;

    margin: auto;
  }

  .map-box1 p{
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: rgb(27, 27, 27);
  }

  .map-box1 h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgb(65, 137, 231);
    font-weight:normal;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    line-height: 1.5;
    flex-wrap: wrap;
  }

  .box h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgb(65, 137, 231);
    font-weight:normal;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.5;
    padding-left: 6%;
    padding-right: 6%;
  }

  .box p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: rgb(65, 65, 65);
  }

  .box p span{
      font-weight: bolder;
  }

  .box p a{
      color: rgb(29, 80, 247);
      text-decoration: none;
  }

  .box .box-div{
      padding-top: 1rem;
  }

  @media screen and (max-width:768px) {
    .infos .box h1  {
      font-size: 20px;
    }
    .infos .box p {
      font-size: 15px;
    }
    .col p{
      font-size: 15px;
    }
  }

  .bgimg{
	width: 100%;
	height: 720px;
	background-image: url('../Images/Home_Header.jpg');
	background-size: 100% 100%;
	background-attachment:fixed;
}
.navbar{
	content: "";
	top: 0%;
	bottom:0%;
	left:0%;
	right:0%;
	opacity: .8;
	background: #000000;
}